<h1>About</h1>
<p>
  <%= link_to "Elepitch", "http://onemonthrails.com" %>
  is a project to allow employees within organizations to pitch innovative ideas to those who can actually implement them! 
</p>